/** Set print format for this page page as beeing A4 */
@page {
    size: A4 portrait;
    margin: 30mm 0mm;
    
    @top-center {
        content: element(header-content);
    }

    @top-left {
        content: element(header-content);
    }

    @top-right {
        content: element(header-content);
    }


    @bottom-center {
        content: element(footer-content);
    }
}

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
}

div.header {
    position: running(header-content);
    background-color: rgb(124, 255, 112);
    width: 100%;
    height: 30mm;
    text-align: center;
}

div.footer {
    position: running(footer-content);
    background-color: rgb(167, 73, 255);
    width: 100%;
    height: 30mm;
    text-align: center;
}

.wide-text {
    font-size: 15pt;
    letter-spacing: 5pt;
    line-height: 1cm;
    background-color: rgba(112, 169, 255);
}

@media print {
    body {
        background-color: rgba(112, 169, 255);
    }

    #content {
        font-family: "Verdana", sans-serif;
        position: fixed;
        width: 100%;
        height: 100%;
        font-size: 14pt;
    }
}

