/** reset the complete page from any other css or browser specific interpretations */
* {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
}

body {
    font-family: "Verdana", sans-serif;
    font-size: 10pt;
    margin: 0px;
    padding: 0mm;
    height: 100%;
}

/** Set print format for this page page as beeing A4 */
@page {
    size: A4 portrait;
    margin: 30mm 0mm 20mm 0mm;
    padding: 5mm 0mm;
    font-family: "Verdana", sans-serif;
    font-size: 10pt;

    @bottom-center {
        background-color: rgb(206, 204, 204);
        content: element(custom-footer-center);
    }

    @bottom-right {
        background-color: rgb(206, 204, 204);
        content: element(custom-footer-right)
    }

    @bottom-left {
        background-color: rgb(206, 204, 204);
        content: element(custom-footer-left)
    }

    @top-right {
        background-color: rgb(206, 204, 204);
        content: element(custom-header);
    }

    @top-left {
        background-color: rgb(206, 204, 204);
        content: element(custom-header);
    }

    @top-center {
        background-color: rgb(206, 204, 204);
        content: element(custom-header);
    }
    
}

.text-align_right {
    text-align: right;
}

.text-align_left {
    text-align: left;
}

.text-align_center {
    text-align: center;
}

.text-format_bold {
    font-weight: bold;
}

.font-size_large {
    font-size: 13pt;
}

.font-size_medium {
    font-size: 11pt;
}

.font-size_small {
    font-size: 9pt;
}

.font-size_x-small {
    font-size: 8pt;
}

.font-size_xx-small {
    font-size: 7pt;
}

.ayc-m-bottom_x-small {
    margin-bottom: 8px;
}

.ayc-m-bottom_small {
    margin-bottom: 12px;
}

.ayc-p-bottom_x-small {
    padding-bottom: 8px;
}

.ayc-p-bottom_small {
    padding-bottom: 12px;
}

.ayc-m-bottom_large {
    margin-bottom: 24px;
}

.ayc-m-top_large {
    margin-top: 24px;
}

.ayc-p-vertical_large {
    padding-bottom: 24px;
    padding-top: 24px;
}

.ayc-m-bottom_x-large {
    margin-bottom: 32px;
}

.ayc-m-top_x-large {
    margin-top: 32px;
}

.ayc-m-top_xx-large {
    margin-top: 40px;
}

.ayc-size_12of12 {
    width: 100%;
}

.ayc-size_1of3 {
    width: 33%;
}

.ayc-align_right {
    justify-content: right;
    display: flex;
}

.ayc-align_left {
    justify-content: left;
    display: flex;
}

.ayc-align_center {
    justify-content: center;
    display: flex;
}

td, th {
    padding: 0px 10px 0px 0px;
    white-space: nowrap;
    max-width: 6cm;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    border-style: hidden;
    border-collapse: collapse;
}

.ayc-table-align_right {
    margin: 0 0 0 auto;
}

.ayc-content-align_center {
    margin-left: auto;
    margin-right: auto;
}

.ayc-p-around_none {
    padding: 0px
}

div.header {
    width: 100%;
    height: 25mm;
    color: white;
    text-align: center;
    position: running(custom-header);
}

div.footer_left {
    height: 20mm;
    color: white;
    width: 100%;
    text-align: center;
    position: running(custom-footer-left);
}

div.footer_right {
    height: 20mm;
    color: white;
    width: 100%;
    text-align: center;
    position: running(custom-footer-right);
}

div.footer_center {
    height: 15mm;
    color: white;
    width: 100%;
    text-align: center;
    position: running(custom-footer-center);
}

.letter-address {
    position: relative;
    width: 85mm;
    height: 40mm;
}

.letter-address-sender {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 8pt;
    text-decoration: underline;
}

.letter-body {
    position: relative;
    width: 100%;
}

.content {
    position: static;
    padding-top: 30mm;
    padding-left: 25mm;
    padding-right: 10mm;
}

.letter-subject {
    position: relative;
    font-weight: bold;
    font-size: 11pt;
}