/** Set complete page as beeing A4 */
body {
    font-family: "Verdana", sans-serif;
    font-size: 10pt;
}

@page {
    size: A4 portrait;
    background-color: greenyellow;
}

.text-align_right {
    text-align: right;
}

.text-align_left {
    text-align: left;
}

.text-align_center {
    text-align: center;
}

.text-format_bold {
    font-weight: bold;
}

.font-size_large {
    font-size: 13pt;
}

.font-size_medium {
    font-size: 11pt;
}

.font-size_small {
    font-size: 9pt;
}

.font-size_x-small {
    font-size: 8pt;
}

.font-size_xx-small {
    font-size: 7pt;
}

.ayc-m-bottom_large {
    margin-bottom: 24px;
}

.ayc-m-top_large {
    margin-top: 24px;
}

.ayc-m-bottom_x-large {
    margin-bottom: 32px;
}

.ayc-m-top_x-large {
    margin-top: 32px;
}

.ayc-size_12of12 {
    width: 100%;
}

.ayc-size_1of3 {
    width: 33%;
}

.ayc-align_right {
    justify-content: right;
    display: flex;
}

.ayc-align_left {
    justify-content: left;
    display: flex;
}

.ayc-align_center {
    justify-content: center;
    display: flex;
}

td, th {
    padding: 0px 10px 0px 0px;
    white-space: nowrap;
    max-width: 6cm;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    border-style: hidden;
    border-collapse: collapse;
}

.ayc-table-align_right {
    margin: 0 0 0 auto;
}

.ayc-p-around_none {
    padding: 0px
}