.invoice-table td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 4px;
    font-size: 10pt;
    text-align: right;
}

.invoice-table th {
    font-size: 10pt;
    text-align: right;
    padding-left: 2px;
    padding-right: 4px;
}

.invoice-table td:first-child, .invoice-table th:first-child {
    padding-left: 0px;
    padding-right: 4px;
    text-align: left;
}

.invoice-table td:last-child, .invoice-table th:last-child {
    padding-left: 4px;
    padding-right: 0px;
}